body {
    width: 100%;
    height: 100%;
}

h1 {
    position: absolute;
    left: 40%;
    top: 0%;
    font: italic small-caps normal 30px/150% Arial, Helvetica, sans-serif
}

h2 {
    position: absolute;
    left: 45%;
    top: 4%;
    font: italic small-caps normal 22px/150% Arial, Helvetica, sans-serif
}

button {
    padding: 4px;
    margin: 4px;
    position: absolute;
    left: 60%;
    top: 1%;
}

button:hover, button:disabled {
    background-color: aqua;
}

img {
    position: fixed;
}

#winMessage {
    position: absolute;
    left: 45%;
    top: 45%;   
    font: italic small-caps normal 35px/150% Arial, Helvetica, sans-serif
}