<!DOCTYPE html>
<html>
    <head>
        <meta lang="en">
        <meta charset="UTF-8">
        <meta name="description" title="Sample index page for cnn clone">
        <meta name="keywords" content="cnn">
        <meta name="author" content="Andrei Moldovan">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="topBarStyle.css">
        <link rel="stylesheet" href="mainStyle.css">
    </head>

    <body>
        <header>
            <div id="topBar">
                <div class="container" id="topicsContainer">
                    <div class="cnn"><span class="cnn">CNN</span></div>
                    <span class="topics">World</span>
                    <span class="topics">USPolitics</span>
                    <span class="topics">Business</span>
                    <span class="topics">Health</span>
                    <span class="topics">Entertainment</span>
                    <span class="topics end">Style</span>
                    <span class="topics end">Travel</span>
                    <span class="topics end">Sports</span>
                    <span class="topics end">Videos</span>
                </div>
                <div class="container" id="menuContainer">
                    <span class="topics menuTopics">Edition</span>
                    <span id="arrow"> > </span>
                    <span class="draw">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20pt" height="20pt" viewBox="0 0 20 20" version="1.1">
                            <g>
                            <path style="fill:none;stroke-width:36;stroke-linecap:round;stroke-linejoin:miter;stroke:rgb(100%,100%,100%);stroke-opacity:1;stroke-miterlimit:4;" d="M 280.027344 278.017578 C 338.980469 217.916016 338.310547 121.447266 278.496094 62.111328 C 218.681641 2.871094 122.212891 3.0625 62.589844 62.589844 C 3.0625 122.212891 2.871094 218.681641 62.111328 278.496094 C 121.447266 338.310547 217.916016 338.980469 278.017578 280.027344 L 447.986328 449.996094 M 356.972656 333.046875 L 467.03125 443.009766 L 441 469.041016 L 331.037109 358.982422 " transform="matrix(0.0408163,0,0,0.0408163,0,0)"/>
                            </g>
                        </svg>
                    </span>
                    <span class="draw">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20pt" height="20pt" viewBox="0 0 20 20" version="1.1">
                            <g>
                            <path style="fill:none;stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(100%,100%,100%);stroke-opacity:1;stroke-miterlimit:4;" d="M 564.960938 300 C 564.960938 446.367188 446.367188 564.960938 300 564.960938 C 153.632812 564.960938 35.039062 446.367188 35.039062 300 C 35.039062 153.632812 153.632812 35.039062 300 35.039062 C 446.367188 35.039062 564.960938 153.632812 564.960938 300 Z M 564.960938 300 " transform="matrix(0.0333333,0,0,0.0333333,0,0)"/>
                            <path style="fill:none;stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(100%,100%,100%);stroke-opacity:1;stroke-miterlimit:4;" d="M 414.960938 230.039062 C 414.960938 293.554688 363.515625 345 300 345 C 236.484375 345 185.039062 293.554688 185.039062 230.039062 C 185.039062 166.523438 236.484375 114.960938 300 114.960938 C 363.515625 114.960938 414.960938 166.523438 414.960938 230.039062 Z M 414.960938 230.039062 " transform="matrix(0.0333333,0,0,0.0333333,0,0)"/>
                            <path style="fill:none;stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(100%,100%,100%);stroke-opacity:1;stroke-miterlimit:4;" d="M 106.875 481.40625 C 135.820312 399.609375 213.28125 345 300 345 C 386.71875 345 464.179688 399.609375 493.125 481.40625 " transform="matrix(0.0333333,0,0,0.0333333,0,0)"/>
                            </g>
                        </svg>
                    </span>
                    <div class="burgermenu">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <nav>
                <a class="navItems important" href="#">Covid 19: </a>
                <a class="navItems" href="#">Live Updates </a> |
                <a class="navItems" href="#">Tracking global spread </a> |
                <a class="navItems" href="#">Vaccinations </a> |
                <a class="navItems important" href="#">Trending: </a>
                <a class="navItems" href="#">New Apple Products </a> |
                <a class="navItems" href="#">Popcorn Salad Recipe </a> |
                <a class="navItems" href="#">Erling Haaland </a>
            </nav>

            <div id="contentContainer">
                <div class="contentColumnContainer">
                    <p class="headline">It is not possible to go against their will</p>
                    <figcaption width="100%" height="400px">
                        <figure width="100%" height="70%">
                            <img src="leftBig.jpg" width="100%" height="250px">
                        </figure>
                        <caption>
                            <p class="headline">This is what a society controlled by the Taliban is like for its citizens</p>
                        </caption>
                    </figcaption>
                    <hr>
                    <p>Why Biden is pulling the US --and NATO --out of Afghanistan</p>
                    <hr>
                    <p>How Taliban may run Afghanistan after US troops withdraw</p>
                    <hr>
                    <p><span class="emphasize">Analysis: </span>Biden's risky decision to end America's longest war</p>
                    <hr>
                    <p><span class="emphasize">Opinion: </span>Biden is making a major mistake</p>
                    <hr>
                    <p><span class="emphasize">Analysis: </span>Biden is facing a daunting set of worsening problems</p>
                    <hr>
                </div>

                <div class="contentColumnContainer">
                    <img src="middleTop.jpg" width="100%" height="150px">
                    <p class="headline">Dr Fauci on Tacon Carlson's comment: Typical crazy conspiracy theory</p>
                    <ul>
                        <li><span class="emphasize">Live: </span> Turkey enters partial lockdown</li>
                        <li>Can the Tokyo Olympics really go ahead in a pandemic?</li>
                    </ul>
                    <img src="middleBottom.jpg" width="100%" height="150px">
                    <p class="headline">These women attended late night parties with Rep. Gaetz</p>
                </div>

                <div class="contentColumnContainer">
                    <img src="rightTop.jpg" width="100%" height="150px">
                    <p class="headline">Protesters and police clash for a third night after fatal police shooting of Daunte Wright</p>
                    <hr>
                    <p>Protesters in Minnesota. It's the racists versus everybody else</p>
                    <hr>
                    <p>UN rights chief fears Myanmar heading to "full blown conflict" with echoes of Syria</p>
                    <hr>
                    <p>Egypt seizes EverGiven over $900 million Suez Canal bill</p>
                    <hr>
                    <p>W. Galen Weston is dead at 80</p>
                    <hr>
                    <p>J&J pause catches White House off guard</p>
                    <hr>
                    <p>Biden makes a move as tensions rise between China and Taiwan</p>
                    <hr>
                    <p>The Queen returns to royal duties following Prince Philip's death</p>
                    <hr>
                </div>
            </div>
        </main>
    </body>
</html>